version: '3.8'
services:
  app:
    build:
      context: ./produto
      dockerfile: Dockerfile
    volumes:
      - ./produto:/var/www/html
    ports:
      - 8000:8000
    depends_on:
      - db
  
  db:
    image: mysql:8.0
    container_name: db_servico_produto
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: